*{
	margin:0px;
	padding: 0px;
}
body{
	font-family: 'Open Sans', sans-serif;

}
header{
	height: 125px;
	border-bottom:7px solid #e4e4e4;
}
.l-img{
	padding: 35px;
}
.menu-area{
	padding: 60px;

}
.menu-area ul{

}
.menu-area li{
	list-style: none;
	display: inline;

}
.menu-area li a{
    color: #c7bcbc;
    padding: 0px 31px;
    text-decoration: none;
    text-transform: uppercase;
}


.c-area{
	background-color:#ee4a3f;
	height: 350px;
}
.c-text{
	padding: 20px 0px;
}
.c-text h2,p{
	color:#ffff;
}
.c-img{
padding: 25px 0px;
}
.c-img img{
	width:465px;

}
.c-img-one{
padding: 30px 55px;	
}
.forms-area{
	background-color:#ee4a3f;
}
.f-a-f{
        padding: 16px 75px;
    margin: 0px 1px;
    background-color: #ff6258;
    border: 0px;
}

.form-btn{
	    padding: 80px 135px;
}
.form-text{
	color:#ffff;
	text-transform: uppercase;

}	
    
}
.form-section{
	padding: 50px 0px;
}

.f-btn{
	border: 0px solid white;
	text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #ff6258;
    padding: 10px 25px;
    font-family: 'Pacifico', cursive;

}
.f-area{
	background-color: #ef4035;
	padding: 18px;
}
.f-text p{
	color:#ffff;
	text-align: center;
}
